.ipynb_checkpoints
*__pycache__*
*.ipynb
*.nii.gz
*.nii
*~
*.npz
*.npy
prostate*.pkl
jhu*.pkl
temp_holding_dir/
test_jsoong/
*.model*
*checkpoint*
Task05_Prostate/
registered_niftis/
inconsistent_registered_niftis/
registered_niftis/
registered_niftis/transforms1/
